body {
    background-color: #222;
    font-family: 'Montserrat', monospace;
    color: #fff;
}

.menu-title 
{
  text-align: center;
}

#game-title {
    display: flex;
    align-items: center;
}

.fish {
    padding: 5px;
    color: #55acee;
}

#buttons {
    display: flex;
    transition: width 0.1s ease;
}

.btn {
    border: none;
    padding: 10px;
    background-color: #222;
    font-size: larger;
    color: #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
}

.btn:hover {
    background-color: #2a2a2a;
    color: #55acee;
}

#btn-next {
    width: 0;
    display: none;
}

#btn-next.visible {
    width: auto;
    display: flex;
}

#game-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.menu {
    margin-top: 10px;
}

.menu > .menu-buttons, .grid-buttons {
    border: 2px solid #eee;;
    border-radius: 5px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-buttons > button {
    display: flex;
    justify-content: between;
    width: 250px;
    padding: 12px;
}

.menu-buttons > button > .text {
    flex-grow: 1;
    text-align: center;
}


.easy {
    color: #55ee62;
}

.medium {
    color: #eed355;
}

.hard {
    color: #ee5555;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-buttons > .btn {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.level-preview-wrapper {
    display: none;
    position: relative;
    width: 0;
    height: 0;
}

.level-preview {
    border-radius: 5px;
    position: absolute;
    right: 10px;
    background-color: #111;
    border: 2px solid #eee;
}

.level-preview .level
{
  transform: scale(0.5);
  transform-origin: top left;
}

.level { position: relative; }

#game-ui {
  padding: 10px;
}

#game-wrapper 
{
  display: none;
}

#level-editor-wrapper
{
  display: none;
}

#level-editor-menu, #level-selector-menu {
    display: flex;
    flex-direction: row;
}

#level-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.active {
  border-width: 2px;
  border-style: solid;
  border-color: #91ff6f;
}

#edited-level-wrapper {
  position: relative;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

#level-size { text-align: center; }
#level-size > input {
  width: 2em;
  text-align: center;
}

#cookies-popup
{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

#cookies-popup > button {
  border: solid 1px #fff;
}

#cookies-message {
  margin-right: 10px;
}

.ranking-text { width: 400px; text-align:center; }
#ranking table {
  width: 400px;
}
#ranking tr {
  text-align: center;
}

#ranking tr:nth-child(even)
{
  background-color: #333;
}

.menu { display: none; }
.shown { display: block; }
.error 
{ 
  color: #ee5555;
  font-weight: bold;
}

#game-name-error 
{
  padding: 5px;
  font-size: 0.8em;
}

#continue-btn { display: none; }
#continue-btn.shown { display: flex; }
