/* Style of game interface */

body {
  background-color: #222;
  font-family: 'Montserrat', monospace;
  color: #fff;
}

* {
  font-family: 'Montserrat', monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-title {
  display: flex;
  align-items: center;
}

.fish {
  padding: 5px;
  color: #55acee;
}

.level-preview-wrapper {
  display: none;
  position: relative;
  width: 0;
  height: 0;
}

.level-preview-outer-wrapper {
  width: 100%;
}

.level-preview {
  border-radius: 5px;
  position: absolute;
  right: 10px;
  background-color: #111;
  border: 2px solid #eee;
}

.level-preview .level-outer {
  transform: scale(0.5);
  transform-origin: top left;
}

input[type=text] {
  padding: 5px;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

#game-wrapper {
  flex-direction: column;
  align-items: center;
}

#game-wrapper.shown {
  display: flex;
}

#level-editor {
  flex-direction: column;
  align-items: center;
}

#level-editor.shown {
  display: flex;
}

#edited-level-wrapper {
  position: relative;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

#level-size {
  text-align: center;
}

#level-size>input {
  width: 2em;
  text-align: center;
}

#cookies-popup {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

#cookies-popup>button {
  border: solid 1px #fff;
}

#cookies-message {
  margin-right: 10px;
}

.ranking-text {
  width: 400px;
  text-align: center;
}

#ranking table {
  width: 400px;
  table-layout: auto;
}

#ranking tr {
  text-align: center;
}

#ranking tr:nth-child(even) {
  background-color: #333;
}

#ranking tr td:last-child {
  width: 1%;
}

.error {
  color: #ee5555;
  font-weight: bold;
  text-align: center;
}

.success {
  color: #55ee62;
  font-weight: bold;
  text-align: center;
}

#game-name-error {
  padding: 5px;
  font-size: 0.8em;
}

#continue-btn {
  display: none;
}

#continue-btn.shown {
  display: flex;
}

#controls-text {
  text-align: center;
}

.shown {
  display: block;
}

.remove-ranking-entry {
  font-size: medium;
  padding: 5px;
  color: #ee5555;
}

.warning {
  color: #ee5555;
}

#edited-level-wrapper {
  margin: 20px;
}

#level-size {
  display: flex;
  align-items: center;
}