/* Style of menu elements */

.btn {
  border: none;
  padding: 10px;
  background-color: #222;
  font-size: larger;
  color: #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}

.btn:hover {
  background-color: #2a2a2a;
  color: #55acee;
}

.btn.active {
  border-width: 2px;
  border-style: solid;
  border-color: #91ff6f;
}

.btn ion-icon {
  margin-right: 5px;
}

.menu-title {
  text-align: center;
}

.menu {
  margin-top: 10px;
  display: none;
}

.menu.shown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu>.menu-buttons, .grid-buttons {
  border: 2px solid #eee;
  border-radius: 5px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  margin-bottom: 20px;
}

.menu-buttons>button {
  display: flex;
  justify-content: between;
  width: 250px;
  padding: 12px;
}

.menu-buttons>button>.text {
  flex-grow: 1;
  text-align: center;
}

.grid-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.easy {
  color: #55ee62;
}

.medium {
  color: #eed355;
}

.hard {
  color: #ee5555;
}